[submodule "2023"]
	path = 2023
	url = https://github.com/jbrilha/AOC_2023
[submodule "2024"]
	path = 2024
	url = https://github.com/jbrilha/AOC_2024
[submodule "2015"]
	path = 2015
	url = https://github.com/jbrilha/AOC_2015
